.header {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: 0 var(--space-4);
  justify-content: space-between;
}

.header h2 {
  margin-bottom: 0;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  column-gap: var(--space-3);
  row-gap: var(--space-4);
  justify-items: center;
  padding: var(--space-4);
  background: var(--bg);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
